#first{
    background-color: aqua;
    border: 4px solid black;
    padding: 10px;
}
div{
    border: 4px  solid  black ;
    background-color: rgb(191, 168, 213);
    padding: 10px;
}
p{
    background-color: aquamarine;
    border: 4px solid black;
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
}
span{
    color: coral;
}
body{
    background: burlywood;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
}